@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css"> 
</head>
<body>
    <div class="logo"></div>
    <div class="login-block">
        <h1>Iniciar Sesión</h1>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(model => model.Nombre, new { @placeholder = "Username", @id = "username" })
            @Html.TextBoxFor(model => model.Password, new { @placeholder = "Password", @id = "password", @type = "password" })
            <button>Ingresar</button>
            <a href="@Url.Action("Register","Home")"><input type="button" value="Registrar" class="register"/></a>
        }
    </div>
</body>
</html>